<!DOCTYPE html>
<html layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login</title>
    <link href="../static/css/login.css" rel="stylesheet" th:href="@{/css/login.css}"/>
</head>

<body>
<div layout:fragment="content">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username and password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                </div>
                <form class="form-signin" method="post" th:action="@{/login}">
                    <div class="form-label-group">
                        <input autocomplete="username" class="form-control" id="username" name="username"
                               placeholder="Username" required type="text"/>
                        <label for="username">Username</label>
                    </div>
                    <div class="form-label-group">
                        <input autocomplete="current-password" class="form-control" id="password" name="password"
                               placeholder="Password" required type="password">
                        <label for="password">Password</label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                </form>
                <hr class="my-4">
                <a href="${registerUrl}" target="_blank" th:href="${registerUrl}">
                    <button class="btn btn-lg btn-block text-uppercase">
                        Register
                    </button>
                </a>
                <!--                <a class="btn btn-lg btn-block text-uppercase" role="button" target="_blank" href="${registerUrl}">-->
                <!--                    Register-->
                <!--                </a>-->
            </div>
        </div>
    </div>
</div>
</body>

</html>