<!DOCTYPE html>
<html layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Logout</title>
    <link href="../static/css/login.css" rel="stylesheet" th:href="@{/css/login.css}"/>
</head>

<body>
<div layout:fragment="content">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Confirm to Sign Out</h5>
                <div class="alert alert-info">
                    Logout all SSO applications?
                </div>
                <form class="form-signin" method="post" th:action="@{/logout}">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Out</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>