# .gitignore for Grails 1.2 and 1.3

# web application files
/web-app/WEB-INF/classes

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release files
/*.zip
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
**/target
**/build

# intellij personal workspace configuration file
**/*.iws
**/*.iml
**/*.ipr
**/.idea
**/out

# vscode
**/.vscode
**/bin
**/.project
**/.settings

# .DS_Store mac file
**/.DS_Store

# bak files
**/*.bak

**/.gradle
